
<br>
    1. Declare an empty list<br>

In [ ]:
cars = []


<br>
    2. Declare a list with more than 5 items<br>

In [ ]:
cars = ['Honda', 'Benz', 'Ferarri', 'Tesla', 'Nissan']


<br>
    3. Find the length of your list<br>

In [ ]:
print(len(cars))


<br>
    4. Get the first item, the middle item and the last item of the list<br>

In [ ]:
cars = ['Honda', 'Benz', 'Ferarri', 'Tesla', 'Nissan']

In [ ]:
first_car = cars[0]
middle_car = cars[2]
last_car =cars[-1]

In [ ]:
print('Fisrt Car is', first_car)
print('Middle Car is', middle_car)
print('Last Car is', last_car)


<br>
    5. Declare a list called mixed_data_types, <br>
    put your(name, age, height, marital status, address)<br>
<br>
ixed_data_types = ['Kabila', 29, 189, 'Married', 'Kano']

In [ ]:
mixed_data_types = ('Kabila', 29, 189, 'Married', 'Kano')

In [ ]:
mixed_data_types = list(mixed_data_types)
print(type(mixed_data_types))
print(len(mixed_data_types))


<br>
    6. Declare a list variable named it_companies and assign initial <br>
    values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle' 'Amazon']


<br>
    7. Print the list using print()<br>

In [ ]:
print(it_companies)


<br>
    8. Print the number of companies in the list<br>

In [ ]:
print(len(it_companies))


<br>
    9. Print the first, middle and last company<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
first_company = it_companies[0]
middle_company = it_companies[3]
last_company = it_companies[-1]

In [ ]:
print('First company is', first_company)
print('Middle company is', middle_company)
print('Last company is', last_company)


<br>
    10. Print the list after modifying one of the companies<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
it_companies[0] = 'Hauwei'

In [ ]:
print(it_companies)


<br>
    11. Add an IT company to it_companies<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
it_companies.append('Hauwei')

In [ ]:
print(it_companies)


<br>
    12. Insert an IT company in the middle of the companies list<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
it_companies.insert(3, 'Hauwei')

In [ ]:
print(it_companies)


<br>
    13. Change one of the it_companies names to uppercase (IBM excluded!)<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
it_companies[0] = 'FACEBOOK'

In [ ]:
print(it_companies)


<br>
    14. Join the it_companies with a string '#;  '<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
strg = ['#']

In [ ]:
it_companies = it_companies + strg

In [ ]:
print(it_companies)


<br>
    15. Check if a certain company exists in the it_companies list.<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
print('Amazon' in it_companies)


<br>
    16. Sort the list using sort() method<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
it_companies.sort()

In [ ]:
print(it_companies)


<br>
    17. Reverse the list in descending order using reverse() method<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
it_companies.reverse()

In [ ]:
print(it_companies)


<br>
    18. Slice out the first 3 companies from the list<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
first_three = it_companies[0:3]

In [ ]:
print(first_three)


<br>
    19. Slice out the last 3 companies from the list<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
last_three = it_companies[4:]

In [ ]:
print(last_three)


<br>
    20. Slice out the middle IT company or companies from the list<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
middle_it_company = it_companies[3]

In [ ]:
print(middle_it_company)


<br>
    21. Remove the first IT company from the list<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
it_companies.remove('Facebook')

In [ ]:
print(it_companies)


<br>
    22. Remove the middle IT company or companies from the list<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
del it_companies[3]

In [ ]:
print(it_companies)


<br>
    23. Remove the last IT company from the list<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
it_companies.pop()

In [ ]:
print(it_companies)


<br>
    24. Remove all IT companies from the list<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
it_companies.clear()

In [ ]:
print(it_companies)


<br>
    25. Destroy the IT companies list<br>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
del it_companies

In [ ]:
print(it_companies)


<br>
    26. Join the following lists:<br>
    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']<br>
    back_end = ['Node','Express', 'MongoDB']<br>

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

In [ ]:
back_end = ['Node','Express', 'MongoDB']

In [ ]:
developers = front_end + back_end

In [ ]:
print(developers)


<br>
    27. After joining the lists in question 26. <br>
    Copy the joined list and assign it to a variable full_stack. <br>
    Then insert Python and SQL after Redux.<br>

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

In [ ]:
back_end = ['Node','Express', 'MongoDB']

In [ ]:
developers = front_end + back_end

In [ ]:
full_stack = developers.copy()

ew_list = ['Python', 'SQL']

In [ ]:
full_stack.insert(5, 'Python')

In [ ]:
full_stack.insert(6, 'SQL')

In [ ]:
print(full_stack)

xercises: Level 2


<br>
    1. The following is a list of 10 students ages:<br>
    ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]<br>

ort the list and find the min and max age

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [ ]:
ages.sort()

In [ ]:
print(ages)

dd the min age and the max age again to the list

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [ ]:
min_age = min(ages)

In [ ]:
max_age = max(ages)

In [ ]:
sum_tot = max_age + min_age

In [ ]:
ages.append(sum_tot)

In [ ]:
print(ages)

ind the median age (one middle item or two middle items divided by two)

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [ ]:
ages.sort()

In [ ]:
list_len = len(ages)

In [ ]:
if list_len % 2 == 0:
    mid1 = ages[list_len//2]
    mid2 = ages[list_len//2 - 1]
    
    median_age = (mid1 + mid2) / 2

In [ ]:
else:
    median_age = ages[list_len//2]

In [ ]:
print(ages)
print(mid1, mid2, median_age)

ind the average age (sum of all items divided by their number )

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [ ]:
list_len = len(ages)

In [ ]:
sum_num = sum(ages)

In [ ]:
average_age = sum_num / list_len

In [ ]:
print(average_age)

ind the range of the ages (max minus min)

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [ ]:
min_age = min(ages)
max_age = max(ages)

In [ ]:
range_age = max_age - min_age

In [ ]:
print(min_age, max_age, range_age)

ompare the value of (min - average) and (max - average), <br>
use abs() method

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [ ]:
list_len = len(ages)

In [ ]:
sum_num = sum(ages)

In [ ]:
average_age = sum_num / list_len

In [ ]:
min_age = min(ages)
max_age = max(ages)

In [ ]:
range_age = max_age - min_age

In [ ]:
min_compare = abs(min_age - average_age)

In [ ]:
max_compare = abs(max_age - average_age)

In [ ]:
print(min_compare, max_compare, min_compare == max_compare)


 1. Find the middle country(ies) in the countries list<br>
    ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark'].<br>

In [ ]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
#countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

In [ ]:
len_country = len(countries)

In [ ]:
if len_country % 2 == 0:
    mid_country1 = countries[len_country // 2]
    mid_country2 = countries[len_country // 2 - 1]

In [ ]:
else:
    mid_country = countries[len_country // 2]

In [ ]:
print(len(countries))
print(mid_country)


<br>
    2. Divide the countries list into two equal lists<br>
     if it is even if not one more country for the first half.<br>

In [ ]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

In [ ]:
mid_num = 4

In [ ]:
first_half = countries[ : mid_num]

In [ ]:
second_half = countries[mid_num : ]

In [ ]:
print(countries)
print(first_half)
print(second_half)


  3. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. <br>
     Unpack the first three countries and the rest as scandic countries.<br>

In [ ]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

In [ ]:
first_country, second_country, third_country, *scandic = countries

In [ ]:
print(scandic)